body {
    font-family: 'Roboto', sans-serif;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

#modal {
    max-width: 600px;
    height: 300px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#social {
    color: white;
}

