{% extends "buy/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

    {% block content %}
    <div class="container">
        <div class="container rounded bg-white mt-5 mb-5 pt-4 pb-1">
            <form method="post" action="{% url 'profile' request.user.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            {% if account.profile_image %}
                                <img class="rounded-circle mt-5" width="150px" src="{{ account.profile_image.url }}">
                            {% else %}
                                <img class="rounded-circle mt-5" width="150px" src="/media/black.jpg">
                            {% endif %}
                            <div>{{ form.profile_image | as_crispy_field }}</div>
                            <span class="font-weight-bold"><b>{{ user.username }}</b></span>
                            <span class="text-black-50">{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Profile</h4>
                            </div>
                            <div class="row mt-2">
                                <!--<div class="col-md-6"><label class="labels">Name</label><input disabled type="text" class="form-control" placeholder="first name" value="{{ user.first_name }}"></div>-->
                                <div class="col-md-6 ">{{ form.first_name | as_crispy_field }}</div>
                                <div class="col-md-6">{{ form.last_name | as_crispy_field }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">{{ form.mobile_number | as_crispy_field }}</div>
                                <div class="col-md-12">{{ form.address | as_crispy_field }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">{{ form.state | as_crispy_field }}</div>
                                <div class="col-md-6 mt-1">{{ form.birthday | as_crispy_field }}</div>
                            </div>

                        </div>
                        <input type="submit" class="btn btn-primary" value="Edit profile">
                    </div>
                

                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
        
{% endblock content %}